<% field.area.each_with_index do |row, index_row| %>
  <table>
    <tr>
      <% row.each_with_index do |item, index_item| %>
        <td>
          <% if item == Field::SHIP %>
            <%= '<img src="../images/icons8-fishing-boat-100.png"/>' %>
          <% elsif item == Field::BORDER %>
            <%= '<img src="../images/128.png"/>' %>
          <% elsif item == Field::WATER %>
            <%= '<img src="../images/water-waves.png"/>' %>
          <% elsif item == Field::BITTEN_SHIP %>
            <%= '<img src="../images/bitten-fishing-boat-100.png"/>' %>
          <% elsif item == Field::BITTEN_BORDER %>
            <%= '<img src="../images/bitten_border.png"/>' %>
          <% elsif item == Field::BITTEN_WATER %>
            <%= '<img src="../images/bitten_water.png"/>' %>
          <% else %>
            <a href="/shot/<%= index_row%>/<%= index_item%>">

              <%= '<img src="../images/55621-fog-cloud-striped-weather-interface-symbol.svg"/>' %>
            </a>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
